* {
	box-sizing: border-box;
	text-align: center;
}


h1 {
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	
}

p {
	text-align: center;
	font-size: 18px;
	font-family: Arial;
}

#container {
	width: 960px;
	margin-left: 29%;
	

}

#middle {
	margin-left: 37px;
}

#header {
	background-color: #ebebeb;
	width: 900px;
	border-style: solid;
	border-color: #777;
	margin: auto;
	border-width: 5px;
	margin-bottom-width: 50px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#nav {
	background-color: #ebebeb;
	width: 900px;
	border-style: solid;
	border-color: #777;
	margin: auto;
	border-width: 5px;
	margin-bottom-width: 50px;
	padding-top: 10px;
	padding-bottom: 10px;


}

#section {
	background-color: #ebebeb;
	width: 500px;
	border-style: solid;
	border-color: #ebebeb;
	text-align: center;
	border-width: 3px;
	margin-top: 10px;
	margin-bottom-width: 50px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;


}

#article {
	background-color: #777;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 5px #777;

}

#aside {
	background-color: #ebebeb;
	width: 398px;
	float: left;
	padding-bottom: 278px;
	border: solid 10px #777;

}

#footer {
	background-color: #ebebeb;
	width: 910px;
	clear: both;
	margin-left: 132px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 10px #777;
	margin: auto;


}

#headers {
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 5px #777;

}

#paragraph {
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 5px #777;
	
}

body {
	background-color: #777;
	
}